.column {
    padding:30px;
    margin:10px;
    display:block;
    background-color:#4a69bd;
    border-radius:25px;
}

#qr-code-generator {
    font-size:50;
    color:#ffffff;
}

#qr-code-generator:hover {
    transition:0.3s;
    color:antiquewhite;
}

